.App {
  font-family: sans-serif;
  text-align: center;
}

.container{
 /* width: 97%; */
 width: 700px;
}
.has-aux .rbt-input {
  padding-right: unset !important;
  text-indent: 22px;
}
.rbt-input-hint{
  padding-top: 8px !important;
}

.rbt-input-main.form-control.rbt-input.focus{
  border-radius: 4px !important;
  border-color: #2684FF !important;
  box-shadow: none !important;
}
.dropdown-item :hover{

  background-color: #2684FF;
  color: hsl(0,0%,100%);
  cursor: default;
}
.dropdown-menu > li :hover {

  background-color: #2684FF;
  color: hsl(0,0%,100%);
  cursor: default;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dropdown-menu {
  position: absolute;
  /* top: 100%; */
  /* top: -13px !important; */
  width: 100% !important;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  box-shadow: none !important;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  /* padding: 0px 0px !important; */
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
